<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
  <header>
    <h1>{{ title }}</h1>
    {% filter indent(width=4,first=False) -%}
    {% include 'nav.html' %}
    {%- endfilter %}
  </header>
  <main>
    {{ content|indent(4, False) }}
  </main>
  <footer>
    {% filter indent(width=4,first=False) -%}
    {% include 'footer.html' %}
    {%- endfilter %}
  </footer>
  </body>
</html>
