<div>
    <h2>{{ title }}</h2>
    <br />
    <p>&copy; {{ author }} {{ year }}</p>
</div>
<div class="links">
    <a href="#">
        <img src="/img/github.svg" alt="">
        <p>GitHub</p>
    </a>
    <a href="#">
        <img src="/img/linkedin.svg" alt="">
        <p>Twitter</p>
    </a>
</div>
<div>
    <p>Welcome to the JotunPy default theme! You are in the <b>{{ devenv }}</b> environment. This theme is designed to help you create your very first website effortlessly. Whether you're a beginner in web development or looking to quickly launch a simple personal site, JotunPy has got you covered.</p>
</div>