<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
  <header>
    <h1>{{ title }}</h1>
    {% filter indent(width=4,first=False) -%}
    {% include 'nav.html' %}
    {%- endfilter %}
  </header>
  <main>
    <h2>Posts</h2>
    <br>
    <ul class="post-list"></ul>
    <br>
    <p>Subscribe <a href="#">via RSS!</a></p>
  </main>
  <footer>
    {% filter indent(width=4,first=False) -%}
    {% include 'footer.html' %}
    {%- endfilter %}
  </footer>
  <script type='module' src="js/index.js"></script>
  </body>
</html>